<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Card Component</title>
    <link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../styles/base.css" type="text/css"/>
    <!-- include core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="../../../bower_components/config/requirejs.conf.js"></script>
    <!-- create the demo -->
    <script>
        require([
            'base',
            './scripts/main'
        ], function (base, comp) {

            var demo = base.createModule('demo.ui.card', [comp.name])
                    .controller('MainCtrl', function () {

                        var ctrl = this;

                        ctrl.device = {title: 'Test Title', body: 'Hello World!'};

                        var op1 = function () {
                            ctrl.device.body = 'Operation 1 over Hello World!';
                        };
                        var op2 = function () {
                            ctrl.device.body = 'Operation 2 over Hello World!';
                        };

                        ctrl.cardButtons = [
                            {
                                label: 'Operation 1',
                                onclick: op1,
                                className: 'btn-danger'
                            },
                            {
                                label: 'Operation 2',
                                onclick: op2
                            }
                        ];
                    });

            base.ng.bootstrap(document.body, [demo.name]);
        });
    </script>

    <style>
        markdown {
            display: none;
        }
        .panel-heading > .buttons > .btn {
            margin-right: 10px;
        }
    </style>

</head>
<body>

<div class="container" ng-controller="MainCtrl as mainCtrl">

    <markdown>
        <% include README.md %>
    </markdown>

    <div class="source_section">
        <h2>Usage example</h2>

        <p>Assuming that buttons are defined in controller like this:</p>

        <pre><code class="src-js source_visible">
            ctrl.cardButtons = [
                {label: 'Operation 2', onclick: op2},
                {label: 'Operation 1', onclick: op1, className: 'btn-danger'}
            ];
        </code></pre>

        <pre><code class="src-html source_visible ng-non-bindable">
            &lt;lp-card data=&quot;mainCtrl.device&quot; title=&quot;{{mainCtrl.device.title}}&quot; buttons=&quot;mainCtrl.cardButtons&quot;&gt;
                &lt;div&gt;{{mainCtrl.device.body}}&lt;/div&gt;
            &lt;/lp-card&gt;
        </code></pre>

        <div class="source_example">
            <lp-card data="mainCtrl.device" title="{{mainCtrl.device.title}}" buttons="mainCtrl.cardButtons">
                <div>{{mainCtrl.device.body}}</div>
            </lp-card>
        </div>
    </div>
</div>


</body>
</html>
