<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Switcher Component</title>
    <link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../styles/base.css" type="text/css" />
    <!-- include core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="../../../bower_components/config/requirejs.conf.js"></script>
    <!-- create the demo -->
    <script>
        require([
            'base',
            './scripts/main'
        ], function(base, comp) {

            var demo = base.createModule('demo.ui.switcher', [comp.name])
                    .controller('MainCtrl', function($scope) {});

            base.ng.bootstrap(document.body, [demo.name]);
        });
    </script>

    <style>
        markdown {
            display: none;
        }
        .btn-toggle {
            display: inline-block;
            width: 90px;
            vertical-align: middle;
        }
    </style>
</head>
<body>

<div class="container" ng-controller="MainCtrl as mainCtrl">

    <markdown>
        <% include README.md %>
    </markdown>

    <div class="source_section">
        <h2>Usage example</h2>

        <pre><code class="src-html source_visible ng-non-bindable">
            &lt;div class=&quot;btn-toggle&quot; ng-click=&quot;(isActive = !isActive)&quot;&gt;
                &lt;div lp-enable-disable-toggle=&quot;isActive&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;button class=&quot;btn btn-default btn-sm&quot; ng-click=&quot;isActive = !isActive&quot;&gt;isActive is &quot;{{!isActive}}&quot;&lt;/button&gt;
        </code></pre>

        <div class="source_example">
            <div class="btn-toggle" ng-click="(isActive = !isActive)">
                <div lp-enable-disable-toggle="isActive"></div>
            </div>
            <button class="btn btn-default btn-sm" ng-click="isActive = !isActive">isActive is "{{!isActive}}"</button>
        </div>

    </div>

</div>

</body>
</html>
