<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Modal Dialog Component</title>
    <link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../styles/base.css" type="text/css"/>
    <!-- include core -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="../../../bower_components/config/requirejs.conf.js"></script>
    <!-- create the demo -->
    <script>
        require([
            'base',
            './scripts/main'
        ], function (base, comp) {

            var demo = base.createModule('demo.ui.modal-dialog', [comp.name]);

            // Mock widget service, modal-dialog needs it
            demo.constant('widget', {});
            demo.controller('MainCtrl', function () {

                this.modal = false;

                this.showModal = function() {
                    this.modal = true;
                };

                this.hideModal = function() {
                    this.modal = false;
                };
            });

            base.ng.bootstrap(document.body, [demo.name]);
        });
    </script>

    <style>
        markdown {
            display: none;
        }
        .panel-body {
            padding: 0;
        }
        .modal-body {
            padding: 10px 15px;
        }
    </style>

</head>
<body>

<div class="container" ng-controller="MainCtrl as mainCtrl">

    <markdown>
        <% include README.md %>
    </markdown>

    <div class="source_section">
        <h2>Usage example</h2>

        <p>Controller code:</p>

        <pre><code class="src-js source_visible">
            this.modal = false;
            this.showModal = function() {
                this.modal = true;
            };
            this.hideModal = function() {
                this.modal = false;
            };
        </code></pre>

        <p>In template:</p>

        <pre><code class="src-html source_visible ng-non-bindable">
            &lt;button class=&quot;btn btn-small&quot; ng-click=&quot;mainCtrl.showModal()&quot;&gt;Show Modal&lt;/button&gt;

            &lt;div modal-dialog=&quot;&quot; show=&quot;mainCtrl.modal&quot;&gt;
                &lt;div class=&quot;panel-body&quot;&gt;
                    &lt;div class=&quot;modal-header&quot;&gt;
                        &lt;button type=&quot;button&quot; ng-click=&quot;mainCtrl.hideModal()&quot; class=&quot;close&quot; aria-label=&quot;Close&quot;&gt;
                            &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                        &lt;/button&gt;
                        &lt;h4 class=&quot;modal-title&quot;&gt;Dialog Title&lt;/h4&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;modal-body&quot;&gt;
                        &lt;p&gt;Modal content&amp;hellip;&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;modal-footer&quot;&gt;
                        &lt;button type=&quot;button&quot; ng-click=&quot;mainCtrl.hideModal()&quot; class=&quot;btn btn-primary&quot;&gt;Save changes&lt;/button&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        </code></pre>

        <div class="source_example" style="width: 730px; height: 300px;">
            <button class="btn btn-small" ng-click="mainCtrl.showModal()">Show Modal</button>

            <div modal-dialog="" show="mainCtrl.modal">
                <div class="panel-body">
                    <div class="modal-header">
                        <button type="button" ng-click="mainCtrl.hideModal()" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Dialog Title</h4>
                    </div>
                    <div class="modal-body">
                        <p>Modal content&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="mainCtrl.hideModal()" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
