<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Timer Component</title>
    <link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../styles/base.css" type="text/css"/>
    <!-- include core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="../../../bower_components/config/requirejs.conf.js"></script>
    <!-- create the demo -->
    <script>
        require(['base', './scripts/main', '../../libs/angular-ui-bootstrap/angular-ui-bootstrap'], function (base, comp) {

            var demo = base.createModule('demo.ui.timer', [comp.name, 'ui.bootstrap'])
                    .controller('MainCtrl', function ($scope) {

                        this.finish = function () {
                            this.message = 'Time is up!';
                        };

                        this.run = function () {
                            $scope.$broadcast('timer-run');
                        };

                        this.pause = function() {
                            $scope.$broadcast('timer-pause');
                        };

                        this.resume = function () {
                            $scope.$broadcast('timer-resume');
                        };

                        this.reset = function () {
                            $scope.$broadcast('timer-reset');
                            this.message = '';
                        };
                    });

            base.ng.bootstrap(document.body, [demo.name]);
        });
    </script>

    <style>
        markdown {
            display: none;
        }
    </style>
</head>
<body>

<div class="container" ng-controller="MainCtrl as vm">

    <markdown>
        <% include README.md %>
    </markdown>

    <div class="source_section">
        <h2>Usage example</h2>

        <pre><code class="src-html source_visible ng-non-bindable">
            &lt;div lp-timer millis=&quot;5000&quot; autostart="true" on-finish=&quot;vm.finish()&quot;&gt;&lt;/div&gt;
            &lt;div&gt;{{message}}&lt;/div&gt;
        </code></pre>

        <div class="source_example">
            <div lp-timer millis="5000" autostart="true" on-finish="vm.finish()"></div>
            <div>
                <button class="btn btn-default btn-sm" ng-click="vm.run()">Run</button>
                <button class="btn btn-default btn-sm" ng-click="vm.pause()">Pause</button>
                <button class="btn btn-default btn-sm" ng-click="vm.resume()">Resume</button>
                <button class="btn btn-default btn-sm" ng-click="vm.reset()">Reset</button>
            </div>
            <div>{{vm.message}}</div>
        </div>
    </div>


</body>
</html>
