<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Field Component</title>
	<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../../../styles/base.css" type="text/css" />
	<!-- include core -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
	<script src="../../../bower_components/config/requirejs.conf.js"></script>
	<!-- create the demo -->
	<script>
		require([
			'base',
			'./scripts/main',

			// 3rd party vendor
			// Using angular boostrap
			'../../libs/angular-ui-bootstrap/angular-ui-bootstrap'
		], function(base, comp, ui) {
			'use strict';

			var demo = base
				.createModule('demo.ui.field', [comp.name, 'ui.bootstrap'])
				.controller('MainCtrl', function() {
					var ctrl = this;

					ctrl.inputFieldLabel = 'Hello';

					ctrl.errorMessages = {
						'invalid_phone': 'This phone is not valid.',
						'invalid_email': 'This email is not valid.'
					};


					ctrl.simpleInput = {
						value: 'Text'
					};

					ctrl.textarea = {
						value: 'Textaria'
					};


					ctrl.phoneNumber = {
						value: '',
						errors: [],
						loading: false,
						validate: function(phone) {
							var re = /^\+(?:[0-9]?){6,14}[0-9]$/;
							if (!re.test(phone)) {
								return 'invalid_phone';
							}
							return true;
						}
					};

					ctrl.emailAddress = {
						value: '',
						errors: [],
						loading: false,
						validate: function(email) {
							var re = /^[A-Za-z0-9+_.\-]+@[A-Za-z0-9.\-]+$/;
							if (!re.test(email)) {
								return 'invalid_email';
							}
							return true;
						}
					};

					ctrl.dropdown = {
						value: '',
						options: [
							{
								id: 'option1',
								value: 'option1',
								label: 'Option 1'
							},{
								id: 'option2',
								value: 'option2',
								label: 'Option 2'
							}
						]
					};

					ctrl.save = function (name, val) {
						// console.log('save', name, val);
					};
				});

            base.ng.bootstrap(document.body, [demo.name]);

		});
	</script>

    <style>
        markdown {
            display: none;
        }
    </style>
</head>
<body>

<div class="container" ng-controller="MainCtrl as mainCtrl">

    <markdown>
        <% include README.md %>
    </markdown>

    <div class="source_section">
        <h2>Usage example</h2>

        <pre><code class="src-html source_visible ng-non-bindable">
            &lt;form class=&quot;form-horizontal&quot; role=&quot;form&quot; name=&quot;contactForm&quot;&gt;


                &lt;div lp-field=&quot;&quot;
                     label=&quot;Simple input field&quot;
                     action=&quot;#/address/change&quot;
                     action-label=&quot;Example of action&quot;
                     error-messages=&quot;errorMessages&quot;&gt;
                    &lt;input class=&quot;form-control&quot;
                           type=&quot;text&quot;
                           aria-label=&quot;Screen reader text&quot;
                           ng-model=&quot;mainCtrl.simpleInput.value&quot;
                           ng-change=&quot;mainCtrl.save('input', mainCtrl.simpleInput.value)&quot; /&gt;
                &lt;/div&gt;


                &lt;div lp-field=&quot;&quot;
                     label=&quot;textarea lp-control&quot;&gt;
                    &lt;div lp-control=&quot;lp-control&quot;
                         type=&quot;textarea&quot;
                         ng-model=&quot;mainCtrl.textarea.value&quot;&gt;
                    &lt;/div&gt;
                &lt;/div&gt;


                &lt;div lp-field=&quot;&quot;
                     label=&quot;Phone number (lp-control type='tel')&quot;
                     tip=&quot;Please provide your mobile phone&quot;
                     errors=&quot;mainCtrl.phoneNumber.errors&quot;
                     error-messages=&quot;mainCtrl.errorMessages&quot;
                     help=&quot;Example like +16464787538&quot;&gt;
                    &lt;div lp-control=&quot;lp-control&quot;
                         type=&quot;tel&quot;
                         ng-model=&quot;mainCtrl.phoneNumber.value&quot;
                         validate=&quot;mainCtrl.phoneNumber.validate(value)&quot;
                         ng-change=&quot;mainCtrl.save('phoneNumber', mainCtrl.phoneNumber.value)&quot;
                         loading=&quot;isLoading&quot;
                         required=&quot;true&quot;&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div lp-field=&quot;&quot;
                     label=&quot;E-mail address (lp-control type='email')&quot;
                     tip=&quot;Please provide your email&quot;
                     errors=&quot;mainCtrl.emailAddress.errors&quot;
                     error-messages=&quot;mainCtrl.errorMessages&quot;&gt;
                    &lt;div lp-control=&quot;lp-control&quot;
                         type=&quot;email&quot;
                         ng-model=&quot;mainCtrl.emailAddress.value&quot;
                         validate=&quot;mainCtrl.emailAddress.validate(value)&quot;
                         ng-change=&quot;mainCtrl.save('emailAddress', mainCtrl.emailAddress.value)&quot;
                         loading=&quot;isLoading&quot;
                         required=&quot;true&quot;&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;div lp-field=&quot;&quot;
                     label=&quot;Dropdown Select&quot;
                     class=&quot;deposit-account enrollment-field&quot;&gt;
                    &lt;div dropdown-select=&quot;dropdown-select&quot;
                         ng-model=&quot;mainCtrl.dropdown.value&quot;
                         ng-options=&quot;val.value for val in mainCtrl.dropdown.options&quot;
                         ng-change=&quot;check(mainCtrl.dropdown.value)&quot;
                         loading=&quot;mainCtrl.loading&quot;&gt;
                    &lt;/div&gt;
                &lt;/div&gt;


                &lt;!-- TODO: Add checkbox/radio --&gt;


            &lt;/form&gt;
        </code></pre>

        <div class="source_example">
            <form class="form-horizontal" role="form" name="contactForm">


                <div lp-field=""
                     label="Simple input field"
                     action="#/address/change"
                     action-label="Example of action"
                     error-messages="errorMessages">
                    <input class="form-control"
                           type="text"
                           aria-label="Screen reader text"
                           ng-model="mainCtrl.simpleInput.value"
                           ng-change="mainCtrl.save('input', mainCtrl.simpleInput.value)" />
                </div>


                <div lp-field=""
                     label="textarea lp-control">
                    <div lp-control="lp-control"
                         type="textarea"
                         ng-model="mainCtrl.textarea.value">
                    </div>
                </div>


                <div lp-field=""
                     label="Phone number (lp-control type='tel')"
                     tip="Please provide your mobile phone"
                     errors="mainCtrl.phoneNumber.errors"
                     error-messages="mainCtrl.errorMessages"
                     help="Example like +16464787538">
                    <div lp-control="lp-control"
                         type="tel"
                         ng-model="mainCtrl.phoneNumber.value"
                         validate="mainCtrl.phoneNumber.validate(value)"
                         ng-change="mainCtrl.save('phoneNumber', mainCtrl.phoneNumber.value)"
                         loading="isLoading"
                         required="true">
                    </div>
                </div>

                <div lp-field=""
                     label="E-mail address (lp-control type='email')"
                     tip="Please provide your email"
                     errors="mainCtrl.emailAddress.errors"
                     error-messages="mainCtrl.errorMessages">
                    <div lp-control="lp-control"
                         type="email"
                         ng-model="mainCtrl.emailAddress.value"
                         validate="mainCtrl.emailAddress.validate(value)"
                         ng-change="mainCtrl.save('emailAddress', mainCtrl.emailAddress.value)"
                         loading="isLoading"
                         required="true">
                    </div>
                </div>

                <div lp-field=""
                     label="Dropdown Select"
                     class="deposit-account enrollment-field">
                    <div dropdown-select="dropdown-select"
                         ng-model="mainCtrl.dropdown.value"
                         ng-options="val.value for val in mainCtrl.dropdown.options"
                         ng-change="check(mainCtrl.dropdown.value)"
                         loading="mainCtrl.loading">
                    </div>
                </div>


                <!-- TODO: Add checkbox/radio -->


            </form>
        </div>

    </div>

</div>


</body>
</html>
