<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Focus Component</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../../../styles/base.css" type="text/css" />
        <!-- include core -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
        <script src="../../../bower_components/config/requirejs.conf.js"></script>
        <!-- create the demo -->
        <script>
            require(['base', './scripts/main'], function(base, comp) {
                var demo = base
                    .createModule('demo.ui.focus', [comp.name])
                    .controller('MainCtrl', function($rootScope, $timeout, lpFocus) {

                        this.field1 = 'input-field1';

                        this.setFocus1 = function() {
                            lpFocus(this.field1);
                        };

                        this.setFocus2 = function() {
                            $rootScope.$broadcast('lp.login-multifactor.errors');
                        };
                    });

                base.ng.bootstrap(document.body, [demo.name]);
            });

        </script>

        <style>
            markdown {
                display: none;
            }
        </style>
    </head>
    <body>

        <div class="container" ng-controller="MainCtrl as mainCtrl">

            <markdown>
                <% include README.md %>
            </markdown>

            <div class="source_section">
                <h2>Usage example</h2>

                <p>Example of <code>lpFocusId</code> directive:</p>

                <pre><code class="src-html source_visible">
                    &lt;input class=&quot;form-control input-sm&quot; lp-focus-id=&quot;{{mainCtrl.field1}}&quot; type=&quot;text&quot; /&gt;
                    &lt;button class=&quot;btn btn-default btn-sm&quot; ng-click=&quot;mainCtrl.setFocus1()&quot;&gt;Set focus&lt;/button&gt;
                </code></pre>

                <div class="source_example">
                    <input class="form-control input-sm"  style="display: inline-block; width: 250px;" lp-focus-id="{{mainCtrl.field1}}" type="text" />
                    <button class="btn btn-default btn-sm" ng-click="mainCtrl.setFocus1()">Set focus</button>
                </div>

                <p>Example of <code>lpFocusOn</code> directive:</p>

                <pre><code class="src-html source_visible">
                    &lt;div class=&quot;panel-body&quot; tabindex=&quot;-1&quot; lp-focus-on=&quot;lp.login-multifactor.errors&quot;&gt;
                        &lt;p&gt;Set focus on this container.&lt;/p&gt;
                        &lt;button class=&quot;btn btn-default btn-sm&quot; ng-click=&quot;mainCtrl.setFocus2()&quot;&gt;Set focus&lt;/button&gt;
                    &lt;/div&gt;
                </code></pre>


                <div class="source_example">
                    <div class="panel-body" tabindex="-1" lp-focus-on="lp.login-multifactor.errors">
                        <p>Set focus on this container.</p>
                        <button class="btn btn-default btn-sm" ng-click="mainCtrl.setFocus2()">Set focus</button>
                    </div>
                </div>

            </div>



        </div>

    </body>
</html>
