<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Aria Component</title>
    <link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../styles/base.css" type="text/css" />
    <!-- include core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="../../../bower_components/config/requirejs.conf.js"></script>

    <!-- create the demo -->
    <script>
        require(['base', './scripts/main'], function(base, component) {

            var demo = base
                    .createModule('demo.ui.aria', [component.name])
                    .controller('MainCtrl', function($scope) {
                        $scope.paymentOrder = {accountDetails: 1231};
                    });

            base.ng.bootstrap(document.body, [demo.name]);
        });
    </script>

    <style>
        markdown {
            display: none;
        }
    </style>
</head>
<body>

<div class="container" ng-controller="MainCtrl as mainCtrl">

    <markdown>
        <% include README.md %>
    </markdown>

    <div class="source_section">
        <h2>Usage example</h2>

        <pre><code class="src-html source_visible ng-non-bindable">&#x3C;small class=&#x22;text-muted&#x22; lp-aria-number=&#x22;paymentOrder.accountDetails&#x22;&#x3E;&#x3C;/small&#x3E;</code></pre>

        <div class="source_example">
            <small class="text-muted" lp-aria-number="paymentOrder.accountDetails"></small>
        </div>

    </div>

</div>

</body>
</html>
