<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Color Picker Component</title>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../styles/base.css" type="text/css" />
    <!-- include core -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="../../../bower_components/config/requirejs.conf.js"></script>
    <!-- create the demo -->
    <script>
        require([
            'base',
            './scripts/main',

            // 3rd party vendor
            // Using angular boostrap
            '../../libs/angular-ui-bootstrap/angular-ui-bootstrap'
        ], function(base, comp, ui) {
            'use strict';

            var demo = base
                .createModule('demo.ui.color-picker', [comp.name, 'ui.bootstrap'])
                .controller('MainCtrl', function($scope) {
                    $scope.pickColor = function(color) {
                        $scope.selectedColor = color;
                    };
                });

            base.ng.bootstrap(document.body, [demo.name]);

        });
    </script>

    <style>
        markdown {
            display: none;
        }
        i.color {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
    </style>
</head>
<body>

<div class="container" ng-controller="MainCtrl as mainCtrl">

    <markdown>
        <% include README.md %>
    </markdown>

    <div class="source_section">
        <h2>Usage example</h2>

        <pre><code class="src-html source_visible ng-non-bindable">
            &lt;div style=&quot;width: 340px;&quot;&gt;
                &lt;lp-color-picker select-color=&quot;pickColor&quot;&gt;&lt;/lp-color-picker&gt;
            &lt;/div&gt;
        </code></pre>

        <div class="source_example">

            <p>Selected color: <i class="color" ng-style="{'background-color': selectedColor}"></i> {{selectedColor}}</p>

            <div style="width: 340px;">
                <lp-color-picker select-color="pickColor"></lp-color-picker>
            </div>
        </div>

    </div>

</div>


</body>
</html>
