<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Sample Component</title>
    <link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
    <!-- include core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="../../../bower_components/config/requirejs.conf.js"></script>
    <!-- create the demo -->
    <script>
        require([
            'base',
            './scripts/main'
        ], function (base, comp) {

            var demo = base.createModule('demo.ui.sample', [comp.name])
                    .controller('MainCtrl', function () {
                        var ctrl = this;

                        ctrl.config = {
                            showButton: true
                        };

                        ctrl.data = {
                            name: 'Ben & Dmitry'
                        };

                        ctrl.action = function ($event, params) {
                            // console.log(params);
                        };
                    });

            base.ng.bootstrap(document.body, [demo.name]);
        });
    </script>

    <style>
        markdown {
            display: none;
        }
    </style>
</head>
<body>

<div class="container" ng-controller="MainCtrl as mainCtrl">

    <markdown>
        <% include README.md %>
    </markdown>

    <div class="source_section">
        <h2>Usage example</h2>

        <pre><code class="src-html source_visible ng-non-bindable">
            &lt;div lp-sample=&quot;mainCtrl.config&quot;
                 ng-model=&quot;mainCtrl.data&quot;
                 on-action=&quot;mainCtrl.action($event, params)&quot;&gt;
            &lt;/div&gt;
        </code></pre>

        <div class="source_example">
            <div lp-sample="mainCtrl.config"
                 ng-model="mainCtrl.data"
                 on-action="mainCtrl.action($event, params)">
            </div>
        </div>

    </div>

</div>

</body>
</html>
