<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Input Overflow Component</title>
    <link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../styles/base.css" type="text/css" />
    <!-- include core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="../../../bower_components/config/requirejs.conf.js"></script>

    <!-- create the demo -->
    <script>
        require(['base', './scripts/main'], function(base, component) {

            var demo = base
                    .createModule('demo.ui.input-overflow', [component.name])
                    .controller('MainCtrl', function($scope) {
                        $scope.testModel1 = 'Some test model text that will overlap';
                        $scope.testModel2 = 'Some test model';
                    });

            base.ng.bootstrap(document.body, [demo.name]);
        });

    </script>

    <style>
        markdown {
            display: none;
        }
    </style>
</head>
<body>

<div class="container" ng-controller="MainCtrl as mainCtrl">

    <markdown>
        <% include README.md %>
    </markdown>

    <div class="source_section">
        <h2>Usage example</h2>

        <pre><code class="src-html source_visible">
            &lt;input class=&quot;form-control input-sm&quot; ng-model=&quot;testModel1&quot; lp-input-overflow type=&quot;text&quot; /&gt;
        </code></pre>

        <div class="source_example">
            <div style="width: 200px;">
                <input class="form-control input-sm" ng-model="testModel1" lp-input-overflow type="text" />
            </div>
        </div>

    </div>

</div>

</body>
</html>
