//
// Launchpad helper classes
// --------------------------------------------------

// Angular Cloaking
// -------------------------

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

// Text helpers
// -------------------------

.text-dark {
    color:@chrome-title-color;
}
.text-medium {
    .text-muted;
}
.text-light {
    color: #ccc;
}
.text-capitalize {
    text-transform:capitalize;
}
.valign-middle {
    vertical-align:middle!important;
}

// Non functional standard item style
// -------------------------

.lp-nonfunc-bar {
    display: none;
}
.bd-contentViewer-wrapper {
    padding: 0 !important;
}

// Global vanilla styles for Launchpad
// -------------------------

/* Sibling of this may be higher (eg design mode tools, stretch background */
.lp-page-children {
    // z-index: 0;
    z-index: inherit;
    position: relative;
}
/* Widget bodies now automatically have there own local stacking context (NEW) */
.bp-widget-body {
    position: relative;

}
.lp-page-children+.bp-widget .bp-widget-body {
    z-index: inherit;
}
/* Minimization/maximization */
.lp-minimized,
.lp-maximized {
    display: none;
}
.lp-widget-minimized .lp-minimized,
.lp-widget-maximized .lp-maximized {
    display: block;
}


// Misc. helpers
// -------------------------

.light-font {
    font-family: 'Proxima Light', @font-family-sans-serif;
}
.margin-bottom-sm {
    margin-bottom:@padding-base;
}
.padding-left-sm {
    padding-left:@padding-base;
}
.padding-left-med {
    padding-left:@padding-base * 2;
}
.padding-left-lg {
    padding-left:@padding-base * 3;
}
.padding-right-sm {
    padding-right:@padding-base;
}
.padding-right-md {
    padding-right:@padding-base * 2;
}
.padding-right-lg {
    padding-right:@padding-base * 3;
}
.no-padding {
    padding:0 !important;
}
.no-padding-top {
    padding-top:0!important;
}
.no-padding-left {
    padding-left:0!important;
}
.no-padding-right {
    padding-right:0!important;
}
.no-padding-bottom {
    padding-bottom:0!important;
}
.no-margin {
    margin:0 !important;
}
.no-margin-top {
    margin-top:0!important;
}
.no-margin-left {
    margin-left:0!important;
}
.no-margin-right {
    margin-right:0!important;
}
.no-margin-bottom {
    margin-bottom:0!important;
}
.no-min-height {
    min-height: 0 !important;
}
.cursor-pointer {
    cursor: pointer;
}
.resize-none {
    resize:none;
}
.no-bg {
    background-color:transparent!important;
}
.display-none {
    display:none !important;
}
.display-block {
    display:block !important;
}
.position-right {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
}
.position-left {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
}
.min-height-500 {
    min-height:500px;
}
.no-border td {
    border:0 none!important;
}
.inline-block {
    display:inline-block;
    float:none;
}
.inline {
    display:inline;
}
.background-transition {
    .transition(@background-transition);
}
.color-transition {
    .transition(@color-transition);
}

// Responsive widget helpers
// -------------------------

.lp-xs-size .hide-xs-widget {
     display:none;
}
.lp-tile-size .hide-tile-widget{
    display:none;
}
.lp-tile-size .hide-small-widget,
.lp-small-size .hide-small-widget {
    display:none;
}
.lp-tile-size .hide-medium-widget,
.lp-small-size .hide-medium-widget,
.lp-medium-size .hide-medium-widget {
    display:none;
}
.lp-large-size .hide-large-widget {
    display:none;
}

// TODO: Still relevant?
// Fix for opacity mixin causing weird math issue
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    -moz-opacity: .65;
    opacity: .65
}
.lp-full-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: transparent none no-repeat center  top;
}
.lp-session-dialog {
    position:absolute;
    left:50%;
    width:230px;
}