//
// Launchpad Portal Extensions for Bootstrap
// --------------------------------------------------

// Path variables.
//--------------------

// Used for imports in less.
@base-dir:                     '../../';
// Used for references to media in CSS (base-path should point to launchpad-theme).
@base-path:                    '../../';
@universal-path:               '@{base-path}universal/';
@universal-image-path:         '@{universal-path}images/';
@universal-font-path:          '@{universal-path}fonts/';
@icon-font-path:                @universal-font-path;

// Import core.
@import "@{base-dir}core/less/core.less";

// Extend bootstrap variables/mixins.
//--------------------
@import "variables.less";
@import "mixins.less";

//Launchpad Components
//--------------------
@import "navbar.less";

// Launchpad Extensions
// -------------------------
@import "icons.less";
@import "launcher.less";
@import "charts.less";
@import "element-resize.less";

// Portal Components
// -------------------------
@import "typography.less";
@import "widgets.less";
@import "components.less";
@import "alerts.less";
@import "helpers.less";
@import "forms.less";
@import "chromes.less";

// Optional
// -------------------------
//@import "rtl.less";
@import "accessibility.less";
