.lp-new-payment-box {
  position: relative;
  margin-bottom: 20px;
}
.lp-new-payment-box .tab-pane {
  background-color: #ffffff;
  padding: 10px;
}
.lp-new-payment-box .lp-account-select {
  position: static;
}
.lp-new-payment-box .memo-area {
  resize: none;
  height: 80px;
  width: 100%;
}
.lp-onetime-transfer {
  position: relative;
  margin-bottom: 20px;
}
.lp-onetime-transfer .urgent-transfer .urgent-checkbox {
  margin-right: 3px;
}
.lp-onetime-transfer .urgent-transfer .urgent-checkbox input {
  margin: 0px!important;
}
.lp-onetime-transfer .urgent-transfer .urgent-message {
  margin-top: 1px;
}
.lp-onetime-transfer .urgent-transfer .urgent-message .open-popup {
  cursor: pointer;
  left: 5px;
  top: 2px;
}
.lp-onetime-transfer .urgent-transfer-message {
  color: #d9534f;
}
.lp-onetime-transfer .one-time .text {
  width: 40%;
  padding-top: 5px;
}
.lp-onetime-transfer .one-time .date-picker {
  width: 50%!important;
  position: relative;
}
.lp-onetime-transfer .one-time .date-picker input {
  padding-right: 26px;
}
.lp-onetime-transfer .one-time .date-picker input::-ms-clear {
  display: none;
}
.lp-onetime-transfer .one-time .date-picker .calendar-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.lp-payment-date-box {
  position: relative;
  margin-bottom: 20px;
}
.lp-payment-date-box .tab-pane {
  background-color: #ffffff;
  padding: 10px;
}
