<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Amount Component</title>
        <link href="../../../bower_components/theme/themes/default/css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="../../../styles/base.css" type="text/css" />
        <!-- include core -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
        <script src="../../../bower_components/config/requirejs.conf.js"></script>
        <!-- create the demo -->
        <script>
            require([
                'base',
                './scripts/main'
            ], function(base, comp) {
                var demo = base
                    .createModule('demo.ui.amount', [comp.name])
                    .controller('MainCtrl', function() {
                        var ctrl = this;
                        ctrl.amount = 9345435439;
                        ctrl.currency = 'EUR';
                    });

                base.ng.bootstrap(document.body, [demo.name]);
            });

        </script>

        <style>
            markdown {
                display: none;
            }
        </style>
    </head>
    <body>

        <div class="container" ng-controller="MainCtrl as mainCtrl">

            <markdown>
                <% include README.md %>
            </markdown>

            <div class="source_section">
                <h2>Usage example</h2>

                <p>Assuming that <code>ctrl.amount = 9345435439; ctrl.currency = 'EUR';</code> is defined in controller:</p>

                <pre><code class="src-html source_visible">
                    &lt;span lp-amount=&quot;mainCtrl.amount&quot; lp-amount-currency=&quot;mainCtrl.currency&quot;&gt;&lt;/span&gt;
                </code></pre>

                <div class="source_example">
                    <span lp-amount="mainCtrl.amount" lp-amount-currency="mainCtrl.currency"></span>
                </div>

            </div>

        </div>


    </body>
</html>
