<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Number Input Component</title>
    <link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../styles/base.css" type="text/css" />
    <!-- include core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="../../../bower_components/config/requirejs.conf.js"></script>

    <!-- create the demo -->
    <script>
        require(['base', './scripts/main'], function(base, component) {

            var demo = base
                    .createModule('demo.ui.number-input', [component.name])
                    .controller('MainCtrl', function($scope) {

                    });

            base.ng.bootstrap(document.body, [demo.name]);
        });

    </script>

    <style>
        markdown {
            display: none;
        }
    </style>
</head>
<body>

<div class="container" ng-controller="MainCtrl as mainCtrl">

    <markdown>
        <% include README.md %>
    </markdown>

    <div class="source_section">
        <h2>Usage example</h2>

        <p>Limit input to numbers with additional length restriction (with <code>lp-max-length</code> directive).</p>

        <pre><code class="src-html ng-non-bindable source_visible">
            &lt;input type=&quot;text&quot; ng-model=&quot;phoneNumber&quot; lp-number-input lp-max-length="5" /&gt;
            &lt;div&gt;{{phoneNumber}}&lt;/div&gt;
        </code></pre>

        <div class="source_example">
            <p>Try to type in non-numeric characters:</p>
            <input type="text" class="form-control" ng-model="phoneNumber" lp-number-input lp-max-length="5" />
            <br/>
            <div>Phone number: {{phoneNumber}}</div>
        </div>
    </div>


</div>

</body>
</html>
