/**
 * D3 Tip
 */
.d3-tip {
  padding: 7px;
  background: rgba(14, 119, 93, 0.9);
  color: #fff;
  border-radius: 5px;
  z-index: 1;
  pointer-events: none !important;
  box-shadow: 0 0 1px #fff;
  white-space: nowrap;
}
.d3-tip.no-bl {
  border-bottom-left-radius: 0;
}
.d3-tip.no-br {
  border-bottom-right-radius: 0;
}
.d3-tip .arrow {
  border-top: 7px solid rgba(14, 119, 93, 0.9);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 0;
  position: absolute;
  left: 50%;
  margin-left: -7px;
}
.d3-tip.n .arrow {
  top: 100%;
}
