<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Input Component</title>
    <link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
    <!-- include core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="../../../bower_components/config/requirejs.conf.js"></script>
    <!-- create the demo -->
    <script>
        require([
            'base',
            './scripts/main'
        ], function (base, comp) {

            var demo = base.createModule('demo.ui.input', [comp.name])
                    .controller('MainCtrl', function () {});

            base.ng.bootstrap(document.body, [demo.name]);
        });
    </script>

    <style>
        markdown {
            display: none;
        }
    </style>
</head>
<body>


<div class="container" ng-controller="MainCtrl as mainCtrl">

    <markdown>
        <% include README.md %>
    </markdown>

    <div class="source_section">
        <h2>Usage example</h2>

        <pre><code class="src-html source_visible ng-non-bindable">
            &lt;div lp-text-input=&quot;lp-text-input&quot; placeholder=&quot;Name&quot; label=&quot;Type your name&quot; ng-model=&quot;name&quot;&gt;&lt;/div&gt;
            &lt;div lp-password-input=&quot;lp-password-input&quot; placeholder=&quot;Password&quot; label=&quot;Type your password&quot; ng-model=&quot;password&quot;&gt;&lt;/div&gt;

            &lt;p&gt;Name: &lt;span ng-bind=&quot;name&quot;&gt;&lt;/span&gt;&lt;/p&gt;
            &lt;p&gt;Password: &lt;span ng-bind=&quot;password&quot;&gt;&lt;/span&gt;&lt;/p&gt;
        </code></pre>

        <div class="source_example">
            <div lp-text-input="lp-text-input" placeholder="Name" label="Type your name" ng-model="name"></div>
            <div lp-password-input="lp-password-input" placeholder="Password" label="Type your password" ng-model="password"></div>

            <p>Name: <span ng-bind="name"></span></p>
            <p>Password: <span ng-bind="password"></span></p>
        </div>

    </div>

</div>

</body>
</html>
