<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:g="http://www.backbase.com/2008/gadget" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Progress Indicator Component</title>
	<link href="/bower_components/theme/themes/default/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="../../../styles/base.css" type="text/css" />
	<!-- include core -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
	<script src="../../../bower_components/config/requirejs.conf.js"></script>
	<!-- create the demo -->
	<script>
		require([
			'base',
			'./scripts/main'
		], function(base, comp) {
			'use strict';

			// @ngInject
			var demo = base
				.createModule('demo.ui.progress-indicator', [comp.name])
				.controller('MainCtrl', function($timeout, $http){
					var ctrl = this;

					ctrl.getJoke = function() {
						ctrl.connecting = true;
						$timeout(function(){
							$http.get('http://api.icndb.com/jokes/random')
								.success(function(data, status, headers, config) {
									ctrl.connecting = false;
									ctrl.joke = data.value.joke;
								})
								.error(function(data, status, headers, config) {
									ctrl.connecting = false;
									ctrl.joke = 'Failed to connect';
								});
						}, 1000);
					};

					ctrl.getJoke();

				});

			base.ng.bootstrap(document.body, [demo.name]);
		});
	</script>

    <style>
        markdown {
            display: none;
        }
    </style>
</head>
<body>


    <div class="container" ng-controller="MainCtrl as mainCtrl">

        <markdown>
            <% include README.md %>
        </markdown>

        <div class="source_section">
            <h2>Usage example</h2>

            <p>Add <code>progress-indicator="showLoading"</code> attribute to a container you want to have loading overlay when <code>showLoading</code> is true.</p>

            <pre><code class="src-html source_visible ng-non-bindable">
                &lt;div class=&quot;container&quot;&gt;
                    &lt;div progress-indicator=&quot;mainCtrl.connecting&quot; class=&quot;panel-body&quot;&gt;
                        &lt;ul class=&quot;media-list&quot;&gt;
                            &lt;li class=&quot;media&quot;&gt;
                                &lt;div class=&quot;media-left&quot;&gt;
                                    &lt;img src=&quot;http://api.thumbr.io/789c70f5a38e530dd972f58f8a0422af/td01lCLK6KuyQknexL6E/static.funnypik.com/thumb/2082/2081565.jpg/200x200t/the-funniest-reactions-to-chuck-norris-turning-74.jpg&quot; alt=&quot;&quot; class=&quot;img-rounded media-object&quot;&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;media-body&quot;&gt;
                                    &lt;h2 class=&quot;media-heading&quot;&gt;Never joke about Chuck Norris&lt;/h2&gt;
                                    &lt;h3&gt;{{mainCtrl.joke}}&lt;/h3&gt;
                                    &lt;button type=&quot;button&quot; class=&quot;btn&quot; ng-click=&quot;mainCtrl.getJoke()&quot;&gt;Get another joke&lt;/button&gt;
                                &lt;/div&gt;
                            &lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
            </code></pre>

            <div class="source_example">
                <div class="container">
                    <div progress-indicator="mainCtrl.connecting" class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left">
                                    <img src="http://api.thumbr.io/789c70f5a38e530dd972f58f8a0422af/td01lCLK6KuyQknexL6E/static.funnypik.com/thumb/2082/2081565.jpg/200x200t/the-funniest-reactions-to-chuck-norris-turning-74.jpg" alt="" class="img-rounded media-object">
                                </div>
                                <div class="media-body">
                                    <h2 class="media-heading">Never joke about Chuck Norris</h2>
                                    <h3>{{mainCtrl.joke}}</h3>
                                    <button type="button" class="btn" ng-click="mainCtrl.getJoke()">Get another joke</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>

</body>
</html>
